{% extends 'base.html.twig' %}

{% block title %}Employés{% endblock %}

{% block body %}

{# {{ dump(employes) }} #}

    <h1>Liste des employés</h1>

    {% for employe in employes %}
       <a href="{{ path('show_employe', {'id' : employe.id}) }}">{{ employe }}</a> <br>
    {% endfor %}
{% endblock %}
